class Env {
  static const String apiKey = 'YOUR_API_KEY';
  static const String defaultAccessToken = 'YOUR_DEFAULT_ACCESS_TOKEN';
  static const String defaultCIdentifiant = 'YOUR_DEFAULT_C_IDENTIFIANT';
}
